/* @media screen and (max-width: 767px) {
    .container {
        display: block !important;
        margin: 0px;
        padding: 0px;
    }

    .section {
        display: block !important;
        padding: 50px 0px;
    }
    .r{
        display: block;
    }
    #p1{
        display: block;
        width: 100vw;
        height: 100px;
        padding: 0px;
        
    }
    #first1,#first_div,#second_div,#f4,#footer_last{
        min-width: 1500px;
    }
} */